<div class="center-container">
    <h3 class="menu-rh-title">Menu Ressources Humaines</h3>
    <div class="center-container">
        <a [routerLink]="['/infoperso']"  class="card-link">
            <div class="card">
              <div class="card-overlay">
                <h5 class="card-title">Informations personnelles</h5>
              </div>
            <i class="bi bi-file-earmark-text-fill icon"></i>
            </div>
          </a>
          <a [routerLink]="['/gestionconge']"  class="card-link">
            <div class="card">
              <div class="card-overlay">
                <h5 class="card-title">Gestion de congé</h5>
              </div>
            <i class="bi bi-calendar2-week-fill icon"></i>
            </div>
          </a>
          <a [routerLink]="['/congecadre']"  class="card-link">
            <div class="card">
              <div class="card-overlay">
                <h5 class="card-title">Congés des cadres</h5>
              </div>
            <i class="bi bi-calendar2-check-fill icon"></i>
            </div>
          </a>
          <a [routerLink]="['/jourferie']"  class="card-link">
            <div class="card">
              <div class="card-overlay">
                <h5 class="card-title">Jours fériés</h5>
              </div>
            <i class="bi bi-calendar2-minus-fill icon"></i>
            </div>
          </a>
          <a [routerLink]="['/menu']"  class="card-link">
            <div class="card">
              <div class="card-overlay">
                <h5 class="card-title">Logout</h5>
              </div>
            <i class="bi bi-arrow-right-square-fill icon"></i>
            </div>
          </a>
</div>
