.menu-rh-title {
  text-align: center;
  margin-bottom: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  font-size: 30px;
}

.center-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  height: 200px; /* Adjust height as needed */
}

.card-link {
  flex: 0 0 calc(33.33% - 20px); /* 33.33% width for each card with gap of 20px */
  max-width: calc(33.33% - 20px); /* Added max-width to prevent cards from growing */
}

.card {
  position: relative;
  height: 200px;
  overflow: hidden;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  background-color: #f5f5f5;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.card:hover {
  transform: translateY(-5px);
  background-color: #e0e0e0;
}

.card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color:rgba(0, 0, 0, 0.6);
  color: #fff;
  opacity: 0.9;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card:hover .card-overlay {
  opacity: 1;
}

.card-title {
  margin-bottom: 5px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-link {
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.icon {
  font-size: 100px; /* Adjust icon size as needed */
  margin-bottom: 10px; /* Space between icon and title */
  color:rgba(0, 0, 0, 0.6); /* Set icon color to match overlay */
}
