
/* Centered container for your table */
.container {
    display: flex;
    flex-direction: column; /* Arrange the elements vertically */
    justify-content: center;
    align-items: center;
    height: 65vh; /* Adjust the height as needed */
    margin-top: 50px; /* Adjust the margin-top to move the table higher */
    margin-bottom: 20px;
  }
  
  /* Title for your table */
  .title {
    text-align: center; /* Center the title */
    margin-bottom: 20px; /* Add some space between the title and the table */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .subtitle1{
    text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #666; /* Adjust the color if needed */
  margin-bottom: 10px; /* Add some space between the subtitle and the table */
  display: flex;
  align-items: center; /* Align items vertically */
  margin-right: 380px;
  }
.subtitle2 {
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #666; /* Adjust the color if needed */
  margin-bottom: 10px; /* Add some space between the subtitle and the table */
  display: flex;
  align-items: center; /* Align items vertically */
  margin-right: 400px;
}
  /* Styling for your table */
  .conge-table {
    max-width: 650px; /* Adjust the max-width as needed */
    width: 100%;
    border-collapse: separate; /* Separate border spacing */
    border-spacing: 0 2px; /* Add spacing between table rows */
    border-radius: 5px;
    background-color: #666;
    border-top: 2px solid #666; /* Add border to the top */
    border-left: 2px solid #666; /* Add border to the left */
    border-right: 2px solid #666; /* Add border to the right */
  }
  
  /* Style the table header */
  .conge-table th {
    background-color: #666; /* Medium grey background for table header */
    color: #fff; 
    text-align: left;
    padding: 10px;
  }
  
  /* Style all table rows */
  .conge-table tr {
    background-color: #fff; /* White background for all table rows */
  }
  
  /* Style the table data cells */
  .conge-table td {
    padding: 10px;
  }
  
  .buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Aligner les boutons verticalement au centre */
    width: 40%;
    margin-top: 35px;
    white-space: nowrap;
  }
  
  .buttons-container button {
    margin-right: 25px; /* Réduire la marge à droite */
    margin-left: 15px; /* Réduire la marge à gauche */
  }
  .balance-container {
    position: relative;
    display: inline-block;
  }
  
  .balance-input {
    width: 50px;
    padding-right: 20px; /* Add padding for the "j" to fit inside */
    text-align: right;
  }
  
  .balance-unit {
    position: absolute;
    right: 15px; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
  }
  
  /* Adjust margin between input and subtitle */
  .subtitle1 .balance-container {
    margin-left: 10px; /* Adjust as needed */
  }
  
  
  