<div class="background-container">
  <img class="background-image" src="assets/images/background2.jpg">
</div>
<div class="logo-container">
  <img class="logo" src="assets/images/logo.png">
</div>
<nav class="p-3">
  <ul class="nav nav-pills justify-content-end">
    <li>
      <button routerLink="/menu" class="btn btn-outline-secondary ms-1">Acceuil
        <i class="bi bi-menu-button-wide-fill text-secondary"></i>
      </button>
    </li>
    <li>
      <button routerLink="/help" class="btn btn-outline-secondary ms-1">Aide
        <i class="bi bi-gear-fill text-secondary"></i>
      </button>
    </li>
  </ul>
</nav>
<router-outlet class="router-outlet"></router-outlet>
